* {
  margin: 0;
  padding: 0; }

body {
  background: white;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #222222; }

ul {
  list-style: none; }

a {
  color: #f16d7f; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.fs11 {
  font-size: 11px; }

.fs12 {
  font-size: 12px; }

.fs13 {
  font-size: 13px; }

.fs14 {
  font-size: 14px; }

.fs15 {
  font-size: 15px; }

.fs16 {
  font-size: 16px; }

.fs17 {
  font-size: 17px; }

.fs18, .footer h4 {
  font-size: 18px; }

.fs19 {
  font-size: 19px; }

.fs20 {
  font-size: 20px; }

.fs21 {
  font-size: 21px; }

.fs22 {
  font-size: 22px; }

.fs23 {
  font-size: 23px; }

.fs24 {
  font-size: 24px; }

.fs25 {
  font-size: 25px; }

.fs26 {
  font-size: 26px; }

.fs27 {
  font-size: 27px; }

.fs28 {
  font-size: 28px; }

.fs29 {
  font-size: 29px; }

.fs30 {
  font-size: 30px; }

.fs31 {
  font-size: 31px; }

.fs32 {
  font-size: 32px; }

.fs33 {
  font-size: 33px; }

.fs34 {
  font-size: 34px; }

.fs35 {
  font-size: 35px; }

.fs36 {
  font-size: 36px; }

.fs37 {
  font-size: 37px; }

.fs38 {
  font-size: 38px; }

.fs39 {
  font-size: 39px; }

.fs40 {
  font-size: 40px; }

.w60 {
  width: 60px; }

.w70 {
  width: 70px; }

.w80 {
  width: 80px; }

.w90 {
  width: 90px; }

.w100 {
  width: 100px; }

.w110 {
  width: 110px; }

.w120 {
  width: 120px; }

.w130 {
  width: 130px; }

.w140 {
  width: 140px; }

.w150 {
  width: 150px; }

.w160 {
  width: 160px; }

.w170 {
  width: 170px; }

.w180 {
  width: 180px; }

.w190 {
  width: 190px; }

.w200 {
  width: 200px; }

.w210 {
  width: 210px; }

.w220 {
  width: 220px; }

.w230 {
  width: 230px; }

.w240 {
  width: 240px; }

.w250 {
  width: 250px; }

.w260 {
  width: 260px; }

.w270 {
  width: 270px; }

.w280 {
  width: 280px; }

.w290 {
  width: 290px; }

.w300 {
  width: 300px; }

.w310 {
  width: 310px; }

.w320 {
  width: 320px; }

.w330 {
  width: 330px; }

.w340 {
  width: 340px; }

.w350 {
  width: 350px; }

.w360 {
  width: 360px; }

.w370 {
  width: 370px; }

.w380 {
  width: 380px; }

.w390 {
  width: 390px; }

.form-control {
  height: initial; }

.form-control:focus {
  border-color: #f16d7f;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(241, 109, 127, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(241, 109, 127, 0.6); }

.header__content {
  margin: 0 14%; }
  .header__content h1 {
    float: left; }
    .header__content h1 a {
      text-decoration: none;
      color: #222222; }
      .header__content h1 a > img {
        margin: 0 5px 10px 0; }
  .header__content div.input-group {
    float: left;
    margin: 30px 0; }
  .header__content div.btn-group {
    margin: 30px 0 0 10px; }

nav {
  border-top: 1px solid #ececec;
  height: 50px;
  border-bottom: 1px solid #ececec;
  background-color: white; }
  nav li {
    display: inline; }

.dropdown-menu .divider {
  margin: 5px 10px; }
.dropdown-menu li.group {
  margin-left: 12px;
  font-weight: 600; }

.fleft {
  float: left; }

.fright {
  float: right; }

.main-color {
  color: #f16d7f; }

.gray-color {
  color: #a4a4a4; }

.gray {
  color: #4d4d4d; }

.breadcrumb-gray {
  color: #636363; }

.light-gray {
  color: #c8c8c8; }

.uppercase, .menu-item > a, .footer h4 {
  text-transform: uppercase; }

.text-normal {
  text-transform: initial;
  font-weight: normal; }

.bold, .menu-item > a {
  font-weight: bold; }

.btn-main {
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  color: white;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out; }
  .btn-main:hover {
    color: #fff;
    background-color: #e0485d; }
  .btn-main:focus {
    color: #fff; }

.dropdown-cart {
  min-width: 15vw; }
  .dropdown-cart .row {
    padding: 5px;
    margin-right: 0;
    margin-left: 0; }
    .dropdown-cart .row .col-md-4, .dropdown-cart .row .col-xs-4 {
      text-align: center;
      padding-left: 0;
      padding-right: 0; }
      .dropdown-cart .row .col-md-4 img, .dropdown-cart .row .col-xs-4 img {
        width: 100%; }
      .dropdown-cart .row .col-md-4 p, .dropdown-cart .row .col-xs-4 p {
        font-size: 10px;
        margin-top: 5px;
        margin-bottom: 5px; }
      .dropdown-cart .row .col-md-4 a, .dropdown-cart .row .col-xs-4 a {
        margin-top: 20%; }
    .dropdown-cart .row .col-md-4:last-of-type, .dropdown-cart .row .col-xs-4:last-of-type {
      padding-top: 15%; }
    .dropdown-cart .row .btn {
      width: 100%; }
    .dropdown-cart .row .btn-cart {
      border: 1px solid #c8c8c8;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
      color: #222222;
      -webkit-transition: background-color 0.2s ease-out;
      -moz-transition: background-color 0.2s ease-out;
      -o-transition: background-color 0.2s ease-out;
      transition: background-color 0.2s ease-out; }
      .dropdown-cart .row .btn-cart:hover {
        color: #fff;
        background-color: #e0485d; }
      .dropdown-cart .row .btn-cart:focus {
        color: #fff; }
    .dropdown-cart .row .btn-checkout {
      border: 1px solid #f16d7f;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
      color: #f16d7f;
      -webkit-transition: background-color 0.2s ease-out;
      -moz-transition: background-color 0.2s ease-out;
      -o-transition: background-color 0.2s ease-out;
      transition: background-color 0.2s ease-out; }
      .dropdown-cart .row .btn-checkout:hover {
        color: #fff;
        background-color: #e0485d; }
      .dropdown-cart .row .btn-checkout:focus {
        color: #fff; }

.nav__content {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.menu {
  height: 50px;
  position: relative;
  z-index: 2; }

.menu-item > a {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  padding-top: 12px; }

.menu-item {
  height: 100%;
  -webkit-transition: border-bottom 0.1s ease-out, color 0.2s ease-out;
  -moz-transition: border-bottom 0.1s ease-out, color 0.2s ease-out;
  -o-transition: border-bottom 0.1s ease-out, color 0.2s ease-out;
  transition: border-bottom 0.1s ease-out, color 0.2s ease-out; }

.menu-item:hover {
  border-bottom: 4px solid #f16d7f;
  color: #f16d7f; }

.breadcrumbs {
  height: 150px;
  background-color: #f8f3f4;
  padding: 0;
  margin-bottom: 60px; }

.breadcrumbs-content {
  min-height: 100%;
  display: flex;
  align-items: center;
  margin: 0 14%;
  justify-content: space-between; }

.radio {
  display: inline; }

.radio-label {
  margin-left: 1em; }
  .radio-label:last-of-type {
    margin-bottom: 30px; }

label.required:after {
  color: red;
  content: " *"; }

.subscribe {
  position: relative;
  background: url(../img/subscribe/background.png) no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%; }
  .subscribe .feedback__container-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.4;
    -moz-opacity: 0.4;
    filter: alpha(opacity=40) white;
    -khtml-opacity: 0.4;
    background-color: #fff; }
  .subscribe .row {
    margin: 0 14%;
    height: 100%;
    position: relative;
    padding: 40px 0; }

.subscribe__email {
  position: relative;
  text-align: center;
  height: 100%;
  margin-top: 45px; }

.subscribe__slider {
  padding: 0;
  height: 100%; }
  .subscribe__slider .row .col-md-3 img {
    width: 100%; }

#email {
  border-radius: 20px 0px 0px 20px;
  -moz-border-radius: 20px 0px 0px 20px;
  -webkit-border-radius: 20px 0px 0px 20px;
  border: 0px solid #000000;
  background-color: #e1e1e1; }

.btn-subscribe {
  border-radius: 0px 20px 20px 0px;
  -moz-border-radius: 0px 20px 20px 0px;
  -webkit-border-radius: 0px 20px 20px 0px;
  border: 0px solid #000000;
  background-color: #f16d7f;
  color: white;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out; }
  .btn-subscribe:hover {
    background-color: #b84f5d;
    color: white; }

.footer {
  color: #898989;
  line-height: 1.6; }
  .footer h1 {
    margin-top: 0; }
    .footer h1 a {
      margin-top: 0;
      color: #222;
      text-decoration: none; }
  .footer li a {
    text-decoration: none;
    font-weight: normal;
    color: #898989;
    font-size: 16px;
    line-height: 2; }

.brand__info {
  margin: 100px 14% 30px 14%; }

.social {
  margin: 0;
  background-color: #e6e6e6;
  width: 100%; }

.social__content {
  height: 80px;
  vertical-align: middle;
  margin: 100px 14% 0px 14%; }
  .social__content p {
    color: #7a7a7a;
    font-size: 16px;
    margin: 25px 0; }
  .social__content img {
    margin: 25px 0 25px 10px; }

.logo-mobile {
  display: none; }

.header__content .col-md-4 {
  text-align: right; }

@media (min-width: 1101px) and (max-width: 1300px) {
  .header__content {
    margin: 0 3%; }

  .menu-item > a {
    font-size: 12px; }
    .menu-item > a h1 {
      font-size: 18px;
      margin-top: 30px; }
      .menu-item > a h1 a > img {
        margin: 0 5px 10px 0;
        height: 35px; }

  .breadcrumbs-content {
    font-size: 0.8em; }
    .breadcrumbs-content span.fs24 {
      font-size: 18px; }

  .social__content {
    margin: 0 3%; }

  .breadcrumbs-content {
    margin: 0 3%; } }
.subscribe__email .input-group {
  width: 50%; }

@media (min-width: 951px) and (max-width: 1100px) {
  .header__content {
    margin: 0 3%; }
    .header__content .col-xs-2, .header__content .col-xs-8 {
      padding: 0; }
    .header__content .col-xs-8 {
      font-size: 10px; } }
@media (max-width: 950px) {
  .header__content {
    margin: 0 3%; }

  h1.logo {
    display: none; }

  h1.logo-mobile {
    display: block; }
    h1.logo-mobile a img {
      width: 100%;
      margin-bottom: 0; }

  .menu {
    font-size: 1.5vw; }

  .menu-item > a {
    padding-top: 18px; }

  .breadcrumbs-content {
    font-size: 1.5vw; }

  .subscribe__email .input-group {
    width: initial; }

  .subscribe__slider .col-xs-3 {
    padding-right: 5px;
    padding-left: 0; }

  .subscribe .row {
    margin: 0 5%; }

  .social__content {
    margin-left: 5%;
    margin-right: 5%; }
    .social__content p {
      font-size: 2vw;
      margin: 35px 0; }
    .social__content img {
      width: 7vw; }

  .header__content div.btn-group {
    margin: 0; }

  .header__content .col-sm-6 {
    text-align: center; }

  .btn-row {
    margin: 0; }
    .btn-row .btn-cart {
      padding: 5px;
      font-size: 12px; }

  .row.table-responsive {
    margin: 0 0 10px 0; } }
.checkout__container {
  margin: 0 14%;
  margin-bottom: 80px; }
  .checkout__container .row {
    margin: 0; }
    .checkout__container .row .collapse-container h4 a {
      text-decoration: none;
      color: #222222;
      -webkit-transition: color 0.2s ease-out;
      -moz-transition: color 0.2s ease-out;
      -o-transition: color 0.2s ease-out;
      transition: color 0.2s ease-out; }
      .checkout__container .row .collapse-container h4 a:hover {
        color: #f16d7f; }
    .checkout__container .row .collapse-container p.before:before {
      content: url("../img/checkout/before.png");
      margin-right: 5px; }
    .checkout__container .row .collapse-container p.before:last-of-type {
      margin-bottom: 30px; }
    .checkout__container .row .collapse-container .col-md-6 {
      margin-top: 20px; }
      .checkout__container .row .collapse-container .col-md-6 .form-control {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        height: 45px;
        margin-bottom: 15px; }
      .checkout__container .row .collapse-container .col-md-6 .btn-row {
        margin-bottom: 50px; }

.btn-checkout {
  background-color: white;
  padding: 15px;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  color: #222222;
  -webkit-transition: background-color 0.5s ease-out, color 0.2s ease-out;
  -moz-transition: background-color 0.5s ease-out, color 0.2s ease-out;
  -o-transition: background-color 0.5s ease-out, color 0.2s ease-out;
  transition: background-color 0.5s ease-out, color 0.2s ease-out; }
  .btn-checkout:hover {
    background-color: #f16d7f;
    color: #fff; }
  .btn-checkout:focus {
    background-color: #f16d7f;
    color: #fff; }

.btn-checkout + a {
  line-height: 3.5;
  margin-left: 10px;
  text-decoration: none;
  color: #222222; }

@media (max-width: 1250px) {
  .checkout__container {
    margin: 0 5%; } }

/*# sourceMappingURL=checkout.css.map */
