* {
  margin: 0;
  padding: 0; }

body {
  background: white;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #222222; }

ul {
  list-style: none; }

a {
  color: #f16d7f; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.wrapper .fs11 {
  font-size: 11px; }
.wrapper .fs12 {
  font-size: 12px; }
.wrapper .fs13 {
  font-size: 13px; }
.wrapper .fs14 {
  font-size: 14px; }
.wrapper .fs15 {
  font-size: 15px; }
.wrapper .fs16 {
  font-size: 16px; }
.wrapper .fs17 {
  font-size: 17px; }
.wrapper .fs18, .wrapper .footer h4 {
  font-size: 18px; }
.wrapper .fs19 {
  font-size: 19px; }
.wrapper .fs20 {
  font-size: 20px; }
.wrapper .fs21 {
  font-size: 21px; }
.wrapper .fs22 {
  font-size: 22px; }
.wrapper .fs23 {
  font-size: 23px; }
.wrapper .fs24 {
  font-size: 24px; }
.wrapper .fs25 {
  font-size: 25px; }
.wrapper .fs26 {
  font-size: 26px; }
.wrapper .fs27 {
  font-size: 27px; }
.wrapper .fs28 {
  font-size: 28px; }
.wrapper .fs29 {
  font-size: 29px; }
.wrapper .fs30 {
  font-size: 30px; }
.wrapper .fs31 {
  font-size: 31px; }
.wrapper .fs32 {
  font-size: 32px; }
.wrapper .fs33 {
  font-size: 33px; }
.wrapper .fs34 {
  font-size: 34px; }
.wrapper .fs35 {
  font-size: 35px; }
.wrapper .fs36 {
  font-size: 36px; }
.wrapper .fs37 {
  font-size: 37px; }
.wrapper .fs38 {
  font-size: 38px; }
.wrapper .fs39 {
  font-size: 39px; }
.wrapper .fs40 {
  font-size: 40px; }
.wrapper .w60 {
  width: 60px; }
.wrapper .w70 {
  width: 70px; }
.wrapper .w80 {
  width: 80px; }
.wrapper .w90 {
  width: 90px; }
.wrapper .w100 {
  width: 100px; }
.wrapper .w110 {
  width: 110px; }
.wrapper .w120 {
  width: 120px; }
.wrapper .w130 {
  width: 130px; }
.wrapper .w140 {
  width: 140px; }
.wrapper .w150 {
  width: 150px; }
.wrapper .w160 {
  width: 160px; }
.wrapper .w170 {
  width: 170px; }
.wrapper .w180 {
  width: 180px; }
.wrapper .w190 {
  width: 190px; }
.wrapper .w200 {
  width: 200px; }
.wrapper .w210 {
  width: 210px; }
.wrapper .w220 {
  width: 220px; }
.wrapper .w230 {
  width: 230px; }
.wrapper .w240 {
  width: 240px; }
.wrapper .w250 {
  width: 250px; }
.wrapper .w260 {
  width: 260px; }
.wrapper .w270 {
  width: 270px; }
.wrapper .w280 {
  width: 280px; }
.wrapper .w290 {
  width: 290px; }
.wrapper .w300 {
  width: 300px; }
.wrapper .w310 {
  width: 310px; }
.wrapper .w320 {
  width: 320px; }
.wrapper .w330 {
  width: 330px; }
.wrapper .w340 {
  width: 340px; }
.wrapper .w350 {
  width: 350px; }
.wrapper .w360 {
  width: 360px; }
.wrapper .w370 {
  width: 370px; }
.wrapper .w380 {
  width: 380px; }
.wrapper .w390 {
  width: 390px; }
.wrapper .form-control {
  height: initial; }
.wrapper .form-control:focus {
  border-color: #f16d7f;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(241, 109, 127, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(241, 109, 127, 0.6); }
.wrapper .header__content {
  margin: 0 14%; }
  .wrapper .header__content h1 {
    float: left; }
    .wrapper .header__content h1 a {
      text-decoration: none;
      color: #222222; }
      .wrapper .header__content h1 a > img {
        margin: 0 5px 10px 0; }
  .wrapper .header__content div.input-group {
    float: left;
    margin: 30px 0; }
  .wrapper .header__content div.btn-group {
    margin: 30px 0 0 10px; }
.wrapper nav {
  border-top: 1px solid #ececec;
  height: 50px;
  border-bottom: 1px solid #ececec;
  background-color: white; }
  .wrapper nav li {
    display: inline; }
.wrapper .dropdown-menu .divider {
  margin: 5px 10px; }
.wrapper .dropdown-menu li.group {
  margin-left: 12px;
  font-weight: 600; }
.wrapper .fleft {
  float: left; }
.wrapper .fright {
  float: right; }
.wrapper .main-color {
  color: #f16d7f; }
.wrapper .gray-color {
  color: #a4a4a4; }
.wrapper .gray {
  color: #4d4d4d; }
.wrapper .breadcrumb-gray {
  color: #636363; }
.wrapper .light-gray {
  color: #c8c8c8; }
.wrapper .uppercase, .wrapper .menu-item > a, .wrapper .footer h4 {
  text-transform: uppercase; }
.wrapper .text-normal {
  text-transform: initial;
  font-weight: normal; }
.wrapper .bold, .wrapper .menu-item > a {
  font-weight: bold; }
.wrapper .btn-main {
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  color: white;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out; }
  .wrapper .btn-main:hover {
    color: #fff;
    background-color: #e0485d; }
  .wrapper .btn-main:focus {
    color: #fff; }
.wrapper .dropdown-cart {
  min-width: 15vw; }
  .wrapper .dropdown-cart .row {
    padding: 5px;
    margin-right: 0;
    margin-left: 0; }
    .wrapper .dropdown-cart .row .col-md-4, .wrapper .dropdown-cart .row .col-xs-4 {
      text-align: center;
      padding-left: 0;
      padding-right: 0; }
      .wrapper .dropdown-cart .row .col-md-4 img, .wrapper .dropdown-cart .row .col-xs-4 img {
        width: 100%; }
      .wrapper .dropdown-cart .row .col-md-4 p, .wrapper .dropdown-cart .row .col-xs-4 p {
        font-size: 10px;
        margin-top: 5px;
        margin-bottom: 5px; }
      .wrapper .dropdown-cart .row .col-md-4 a, .wrapper .dropdown-cart .row .col-xs-4 a {
        margin-top: 20%; }
    .wrapper .dropdown-cart .row .col-md-4:last-of-type, .wrapper .dropdown-cart .row .col-xs-4:last-of-type {
      padding-top: 15%; }
    .wrapper .dropdown-cart .row .btn {
      width: 100%; }
    .wrapper .dropdown-cart .row .btn-cart {
      border: 1px solid #c8c8c8;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
      color: #222222;
      -webkit-transition: background-color 0.2s ease-out;
      -moz-transition: background-color 0.2s ease-out;
      -o-transition: background-color 0.2s ease-out;
      transition: background-color 0.2s ease-out; }
      .wrapper .dropdown-cart .row .btn-cart:hover {
        color: #fff;
        background-color: #e0485d; }
      .wrapper .dropdown-cart .row .btn-cart:focus {
        color: #fff; }
    .wrapper .dropdown-cart .row .btn-checkout {
      border: 1px solid #f16d7f;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
      color: #f16d7f;
      -webkit-transition: background-color 0.2s ease-out;
      -moz-transition: background-color 0.2s ease-out;
      -o-transition: background-color 0.2s ease-out;
      transition: background-color 0.2s ease-out; }
      .wrapper .dropdown-cart .row .btn-checkout:hover {
        color: #fff;
        background-color: #e0485d; }
      .wrapper .dropdown-cart .row .btn-checkout:focus {
        color: #fff; }
.wrapper .nav__content {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }
.wrapper .menu {
  height: 50px;
  position: relative;
  z-index: 2; }
.wrapper .menu-item > a {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  padding-top: 12px; }
.wrapper .menu-item {
  height: 100%;
  -webkit-transition: border-bottom 0.1s ease-out, color 0.2s ease-out;
  -moz-transition: border-bottom 0.1s ease-out, color 0.2s ease-out;
  -o-transition: border-bottom 0.1s ease-out, color 0.2s ease-out;
  transition: border-bottom 0.1s ease-out, color 0.2s ease-out; }
.wrapper .menu-item:hover {
  border-bottom: 4px solid #f16d7f;
  color: #f16d7f; }
.wrapper .breadcrumbs {
  height: 150px;
  background-color: #f8f3f4;
  padding: 0;
  margin-bottom: 60px; }
.wrapper .breadcrumbs-content {
  min-height: 100%;
  display: flex;
  align-items: center;
  margin: 0 14%;
  justify-content: space-between; }
.wrapper .radio {
  display: inline; }
.wrapper .radio-label {
  margin-left: 1em; }
  .wrapper .radio-label:last-of-type {
    margin-bottom: 30px; }
.wrapper label.required:after {
  color: red;
  content: " *"; }
.wrapper .subscribe {
  position: relative;
  background: url(../img/subscribe/background.png) no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%; }
  .wrapper .subscribe .feedback__container-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.4;
    -moz-opacity: 0.4;
    filter: alpha(opacity=40) white;
    -khtml-opacity: 0.4;
    background-color: #fff; }
  .wrapper .subscribe .row {
    margin: 0 14%;
    height: 100%;
    position: relative;
    padding: 40px 0; }
.wrapper .subscribe__email {
  position: relative;
  text-align: center;
  height: 100%;
  margin-top: 45px; }
.wrapper .subscribe__slider {
  padding: 0;
  height: 100%; }
  .wrapper .subscribe__slider .row .col-md-3 img {
    width: 100%; }
.wrapper #email {
  border-radius: 20px 0px 0px 20px;
  -moz-border-radius: 20px 0px 0px 20px;
  -webkit-border-radius: 20px 0px 0px 20px;
  border: 0px solid #000000;
  background-color: #e1e1e1; }
.wrapper .btn-subscribe {
  border-radius: 0px 20px 20px 0px;
  -moz-border-radius: 0px 20px 20px 0px;
  -webkit-border-radius: 0px 20px 20px 0px;
  border: 0px solid #000000;
  background-color: #f16d7f;
  color: white;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out; }
  .wrapper .btn-subscribe:hover {
    background-color: #b84f5d;
    color: white; }
.wrapper .footer {
  color: #898989;
  line-height: 1.6; }
  .wrapper .footer h1 {
    margin-top: 0; }
    .wrapper .footer h1 a {
      margin-top: 0;
      color: #222;
      text-decoration: none; }
  .wrapper .footer li a {
    text-decoration: none;
    font-weight: normal;
    color: #898989;
    font-size: 16px;
    line-height: 2; }
.wrapper .brand__info {
  margin: 100px 14% 30px 14%; }
.wrapper .social {
  margin: 0;
  background-color: #e6e6e6;
  width: 100%; }
.wrapper .social__content {
  height: 80px;
  vertical-align: middle;
  margin: 100px 14% 0px 14%; }
  .wrapper .social__content p {
    color: #7a7a7a;
    font-size: 16px;
    margin: 25px 0; }
  .wrapper .social__content img {
    margin: 25px 0 25px 10px; }
.wrapper .logo-mobile {
  display: none; }
.wrapper .header__content .col-md-4 {
  text-align: right; }
@media (min-width: 1101px) and (max-width: 1300px) {
  .wrapper .header__content {
    margin: 0 3%; }
  .wrapper .menu-item > a {
    font-size: 12px; }
    .wrapper .menu-item > a h1 {
      font-size: 18px;
      margin-top: 30px; }
      .wrapper .menu-item > a h1 a > img {
        margin: 0 5px 10px 0;
        height: 35px; }
  .wrapper .breadcrumbs-content {
    font-size: 0.8em; }
    .wrapper .breadcrumbs-content span.fs24 {
      font-size: 18px; }
  .wrapper .social__content {
    margin: 0 3%; }
  .wrapper .breadcrumbs-content {
    margin: 0 3%; } }
.wrapper .subscribe__email .input-group {
  width: 50%; }
@media (min-width: 951px) and (max-width: 1100px) {
  .wrapper .header__content {
    margin: 0 3%; }
    .wrapper .header__content .col-xs-2, .wrapper .header__content .col-xs-8 {
      padding: 0; }
    .wrapper .header__content .col-xs-8 {
      font-size: 10px; } }
@media (max-width: 950px) {
  .wrapper .header__content {
    margin: 0 3%; }
  .wrapper h1.logo {
    display: none; }
  .wrapper h1.logo-mobile {
    display: block; }
    .wrapper h1.logo-mobile a img {
      width: 100%;
      margin-bottom: 0; }
  .wrapper .menu {
    font-size: 1.5vw; }
  .wrapper .menu-item > a {
    padding-top: 18px; }
  .wrapper .breadcrumbs-content {
    font-size: 1.5vw; }
  .wrapper .subscribe__email .input-group {
    width: initial; }
  .wrapper .subscribe__slider .col-xs-3 {
    padding-right: 5px;
    padding-left: 0; }
  .wrapper .subscribe .row {
    margin: 0 5%; }
  .wrapper .social__content {
    margin-left: 5%;
    margin-right: 5%; }
    .wrapper .social__content p {
      font-size: 2vw;
      margin: 35px 0; }
    .wrapper .social__content img {
      width: 7vw; }
  .wrapper .header__content div.btn-group {
    margin: 0; }
  .wrapper .header__content .col-sm-6 {
    text-align: center; }
  .wrapper .btn-row {
    margin: 0; }
    .wrapper .btn-row .btn-cart {
      padding: 5px;
      font-size: 12px; }
  .wrapper .row.table-responsive {
    margin: 0 0 10px 0; } }
.wrapper .slider {
  position: relative;
  margin-top: -50px;
  height: 650px;
  width: 100%;
  background: url(../img/slider/Slide1.png) no-repeat #e8e8e8 90% 0%;
  z-index: 1; }
.wrapper .slider__text {
  margin: 0 14% 0 14%;
  border-left: 12px solid #f16d7f;
  z-index: 3;
  font-size: 40px;
  padding: 0 0 0 12px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 250px;
  text-transform: uppercase;
  font-weight: bold; }
.wrapper .slider__text__big {
  font-size: 60px; }
.wrapper .slider__text span {
  line-height: 1.1; }
.wrapper .category {
  margin: 100px 14% 0 14%; }
.wrapper .category__item {
  max-width: 49%;
  min-width: 49%;
  margin-bottom: 2%;
  float: left;
  display: inline;
  position: relative; }
.wrapper .category__item:nth-child(1) {
  margin-right: 2%; }
.wrapper .category__men {
  /*content: url(../img/category/men.png) */ }
.wrapper .category__women {
  /*content: url(../img/category/women.png) */
  float: right; }
.wrapper .category__kids {
  /*content: url(../img/category/kids.png) */
  float: right; }
.wrapper .category__accesories {
  /*content: url(../img/category/accesories.png) */ }
.wrapper .category__item img {
  position: relative;
  width: 100%; }
.wrapper .category__label {
  color: initial;
  padding: 10px;
  text-transform: uppercase;
  font-size: 18px;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #fff;
  font-weight: bold; }
.wrapper .category__label__supper {
  font-size: 30px; }
.wrapper .featured {
  margin-top: 40px;
  text-align: center; }
.wrapper .featured h2 {
  font-size: 30px;
  font-weight: bold; }
.wrapper .featured > p {
  color: #9f9f9f; }
.wrapper .featured__content {
  margin-top: 50px; }
.wrapper .featured__content .row {
  margin: 0 14% 30px 14%; }
.wrapper .featured__item {
  padding-right: 3px;
  padding-left: 3px;
  display: inline-block; }
  .wrapper .featured__item .featured__image {
    width: 100%; }
    .wrapper .featured__item .featured__image .fade {
      position: absolute;
      left: 1%;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #000;
      text-align: center;
      transition: visibility 0s, opacity 0.2s linear;
      -moz-transition: visibility 0s, opacity 0.2s linear;
      -webkit-transition: visibility 0s, opacity 0.2s linear;
      opacity: 0;
      visibility: hidden; }
      .wrapper .featured__item .featured__image .fade a.btn {
        padding: 1% 2%;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        margin: 50% 0;
        font-size: 1.5vw; }
        .wrapper .featured__item .featured__image .fade a.btn img {
          height: 1.5vw;
          width: 1.5vw; }
  .wrapper .featured__item:hover > .featured__image > .fade {
    visibility: visible;
    opacity: 0.6;
    left: 0; }
.wrapper .featured__image {
  display: inline-block;
  position: relative; }
  .wrapper .featured__image img {
    width: 100%; }
.wrapper .featured__info {
  text-align: initial;
  padding: 10px 0 10px 20px;
  font-weight: bold;
  text-transform: uppercase; }
.wrapper .featured__item:hover {
  -webkit-box-shadow: 0px 14px 15px -2px #aaaaaa;
  -moz-box-shadow: 0px 14px 15px -2px #aaaaaa;
  box-shadow: 0px 14px 15px -2px #aaaaaa; }
.wrapper .advantages {
  margin: 100px 14% 30px 14%; }
  .wrapper .advantages .col-md-4 {
    margin-top: 10px; }
.wrapper .advantages img {
  position: relative;
  width: 100%; }
.wrapper .advantages__label {
  color: initial;
  padding: 10px;
  text-transform: uppercase;
  font-size: 18px;
  position: absolute;
  top: 28%;
  left: 3%;
  color: #fff;
  font-weight: bold;
  font-size: 52px;
  line-height: 0.8em; }
.wrapper .advantages__label__supper {
  font-size: 32px; }
.wrapper .advantages > .row > .col-md-8 {
  padding-left: 0;
  padding-right: 0; }
.wrapper .advantages > .row {
  background-color: #222224; }
.wrapper .advantages__info {
  color: white;
  padding: 15px; }
.wrapper .advantages__info h4 {
  font-size: 20px; }
.wrapper .advantages__image {
  padding: 15px;
  height: 100%; }
.wrapper .advantages__image img {
  margin: 15px; }

.mobile__wrapper {
  display: none; }

@media (min-width: 1101px) and (max-width: 1300px) {
  .wrapper .advantages__info p {
    font-size: 12px; }
  .wrapper .advantages__info h4 {
    font-size: 16px; }
  .wrapper .slider__text {
    font-size: 26px; }
  .wrapper .slider__text__big {
    font-size: 30px; } }
@media (max-width: 1100px) {
  .wrapper {
    display: none; }

  .mobile__wrapper {
    display: block; } }

/*# sourceMappingURL=main.css.map */
