.fs11 {
  font-size: 11px; }

.fs12 {
  font-size: 12px; }

.fs13 {
  font-size: 13px; }

.fs14 {
  font-size: 14px; }

.fs15 {
  font-size: 15px; }

.fs16 {
  font-size: 16px; }

.fs17 {
  font-size: 17px; }

.fs18 {
  font-size: 18px; }

.fs19 {
  font-size: 19px; }

.fs20 {
  font-size: 20px; }

.fs21 {
  font-size: 21px; }

.fs22 {
  font-size: 22px; }

.fs23 {
  font-size: 23px; }

.fs24 {
  font-size: 24px; }

.fs25 {
  font-size: 25px; }

.fs26 {
  font-size: 26px; }

.fs27 {
  font-size: 27px; }

.fs28 {
  font-size: 28px; }

.fs29 {
  font-size: 29px; }

.fs30 {
  font-size: 30px; }

.fs31 {
  font-size: 31px; }

.fs32 {
  font-size: 32px; }

.fs33 {
  font-size: 33px; }

.fs34 {
  font-size: 34px; }

.fs35 {
  font-size: 35px; }

.fs36 {
  font-size: 36px; }

.fs37 {
  font-size: 37px; }

.fs38 {
  font-size: 38px; }

.fs39 {
  font-size: 39px; }

.fs40 {
  font-size: 40px; }

.w60 {
  width: 60px; }

.w70 {
  width: 70px; }

.w80 {
  width: 80px; }

.w90 {
  width: 90px; }

.w100 {
  width: 100px; }

.w110 {
  width: 110px; }

.w120 {
  width: 120px; }

.w130 {
  width: 130px; }

.w140 {
  width: 140px; }

.w150 {
  width: 150px; }

.w160 {
  width: 160px; }

.w170 {
  width: 170px; }

.w180 {
  width: 180px; }

.w190 {
  width: 190px; }

.w200 {
  width: 200px; }

.w210 {
  width: 210px; }

.w220 {
  width: 220px; }

.w230 {
  width: 230px; }

.w240 {
  width: 240px; }

.w250 {
  width: 250px; }

.w260 {
  width: 260px; }

.w270 {
  width: 270px; }

.w280 {
  width: 280px; }

.w290 {
  width: 290px; }

.w300 {
  width: 300px; }

.w310 {
  width: 310px; }

.w320 {
  width: 320px; }

.w330 {
  width: 330px; }

.w340 {
  width: 340px; }

.w350 {
  width: 350px; }

.w360 {
  width: 360px; }

.w370 {
  width: 370px; }

.w380 {
  width: 380px; }

.w390 {
  width: 390px; }

* {
  margin: 0;
  padding: 0; }

body {
  background: white;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #222222;
  overflow-x: hidden; }

ul {
  list-style: none; }

.mobile__wrapper .row {
  margin: 0; }
.mobile__wrapper .col-xs-4 {
  padding-right: 1%;
  padding-left: 1%; }
.mobile__wrapper .clearfix::after {
  content: "";
  display: table;
  clear: both; }
.mobile__wrapper .form-control:focus {
  border-color: #f16d7f;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(241, 109, 127, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(241, 109, 127, 0.6); }
.mobile__wrapper .fleft {
  float: left; }
.mobile__wrapper .fright {
  float: right; }
.mobile__wrapper .main-color {
  color: #f16d7f; }
.mobile__wrapper .gray-color {
  color: #a4a4a4; }
.mobile__wrapper .gray {
  color: #4d4d4d; }
.mobile__wrapper .breadcrumb-gray {
  color: #636363; }
.mobile__wrapper .light-gray {
  color: #c8c8c8; }
.mobile__wrapper .uppercase {
  text-transform: uppercase; }
.mobile__wrapper .text-normal {
  text-transform: initial;
  font-weight: normal; }
.mobile__wrapper .bold {
  font-weight: bold; }
.mobile__wrapper .btn-main {
  background-color: white;
  font-size: 1.5vw;
  padding: 1%;
  border: 1px solid #f16d7f;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  color: #f16d7f;
  -webkit-transition: background-color 0.2s ease-out, color 0.1s;
  -moz-transition: background-color 0.2s ease-out, color 0.1s;
  -o-transition: background-color 0.2s ease-out, color 0.1s;
  transition: background-color 0.2s ease-out, color 0.1s; }
  .mobile__wrapper .btn-main:hover, .mobile__wrapper .btn-main:focus {
    color: #fff;
    background-color: #f16d7f; }
.mobile__wrapper .container-fluid {
  padding: 0; }
.mobile__wrapper .header__content {
  line-height: 0;
  position: relative;
  z-index: 2; }
  .mobile__wrapper .header__content img {
    height: 6vh; }
.mobile__wrapper .content {
  position: relative;
  margin-top: -6vh;
  z-index: 1; }
.mobile__wrapper .slider {
  position: relative;
  margin-bottom: 5%; }
  .mobile__wrapper .slider img {
    width: 100%; }
  .mobile__wrapper .slider .col-xs-6 {
    padding: 0; }
    .mobile__wrapper .slider .col-xs-6:last-of-type {
      background-color: #f1e4e6;
      margin-top: -6vh;
      position: absolute;
      left: 50%;
      right: 0;
      top: 0;
      bottom: 0; }
  .mobile__wrapper .slider .slider-text {
    border-left: 1vw solid #f16d7f;
    z-index: 3;
    font-size: 2vw;
    padding: 0 0 0 1vw;
    margin-left: 10%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 50%; }
.mobile__wrapper .slider-text-big {
  font-size: 4vw; }
.mobile__wrapper .category__container {
  margin-bottom: 5%; }
  .mobile__wrapper .category__container .row {
    margin: 0 10% 2% 10%; }
  .mobile__wrapper .category__container img {
    width: 100%; }
  .mobile__wrapper .category__container .col-xs-4 {
    padding-right: 1%;
    padding-left: 1%; }
    .mobile__wrapper .category__container .col-xs-4 .fade {
      margin-left: 2%;
      margin-right: 3%; }
  .mobile__wrapper .category__container .col-xs-12 {
    padding-right: 1%;
    padding-left: 1%; }
    .mobile__wrapper .category__container .col-xs-12 .fade {
      margin-left: 0;
      margin-right: 1%; }
      .mobile__wrapper .category__container .col-xs-12 .fade .category-text {
        margin: 5% 0; }
.mobile__wrapper .img-container {
  position: relative; }
.mobile__wrapper .fade {
  position: absolute;
  left: 1%;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.6;
  -moz-opacity: 0.6;
  filter: alpha(opacity=60) black;
  -khtml-opacity: 0.6;
  background-color: #000;
  text-align: center; }
  .mobile__wrapper .fade .main-color {
    font-size: 2vw; }
  .mobile__wrapper .fade .category-text {
    color: white;
    margin: 25% 0;
    display: inline-block;
    font-size: 1vw; }
  .mobile__wrapper .fade img {
    width: 40%; }
.mobile__wrapper .featured__container {
  margin-bottom: 5%;
  text-align: center; }
  .mobile__wrapper .featured__container .main-color {
    color: #f16d7f; }
  .mobile__wrapper .featured__container h2 {
    font-size: 2vw; }
  .mobile__wrapper .featured__container p {
    font-size: 1vw;
    color: #9f9f9f;
    margin-bottom: 2%; }
.mobile__wrapper .featured__container-items {
  margin: 0 10%;
  margin-bottom: 3%; }
.mobile__wrapper .featured-item {
  margin-bottom: 3%;
  -webkit-transition: -webkit-box-shadow 0.2s ease-out;
  -moz-transition: -moz-box-shadow 0.2s ease-out;
  -o-transition: -o-box-shadow 0.2s ease-out;
  transition: box-shadow 0.2s ease-out; }
  .mobile__wrapper .featured-item:hover {
    -webkit-box-shadow: 0px 14px 15px -2px #aaaaaa;
    -moz-box-shadow: 0px 14px 15px -2px #aaaaaa;
    box-shadow: 0px 14px 15px -2px #aaaaaa; }
  .mobile__wrapper .featured-item:hover > .featured-info {
    background-color: #FFF; }
  .mobile__wrapper .featured-item:hover > .featured-image > .fade {
    visibility: visible;
    opacity: 0.6;
    left: 0; }
  .mobile__wrapper .featured-item .featured-image {
    position: relative; }
    .mobile__wrapper .featured-item .featured-image .fade {
      transition: visibility 0s, opacity 0.2s linear;
      -moz-transition: visibility 0s, opacity 0.2s linear;
      -webkit-transition: visibility 0s, opacity 0.2s linear;
      opacity: 0;
      visibility: hidden; }
      .mobile__wrapper .featured-item .featured-image .fade a.btn {
        padding: 1% 2%;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        margin: 50% 0;
        font-size: 1.5vw; }
        .mobile__wrapper .featured-item .featured-image .fade a.btn img {
          height: 1.5vw;
          width: 1.5vw; }
    .mobile__wrapper .featured-item .featured-image img {
      width: 100%; }
  .mobile__wrapper .featured-item .featured-info {
    text-align: left;
    padding: 2%;
    background-color: #f8f8f8; }
    .mobile__wrapper .featured-item .featured-info h6 {
      font-size: 1vw;
      margin: 2% 0; }
.mobile__wrapper .advantage {
  background-color: #222224;
  padding: 0 10%; }
  .mobile__wrapper .advantage .col-xs-4 {
    text-align: center;
    padding: 3vw;
    color: #fbfbfb; }
    .mobile__wrapper .advantage .col-xs-4 h4 {
      font-size: 1.5vw;
      margin: 3%; }
    .mobile__wrapper .advantage .col-xs-4 p {
      font-size: 1vw;
      margin-bottom: 1%; }
    .mobile__wrapper .advantage .col-xs-4 img {
      width: 3vw; }
.mobile__wrapper .subscribe {
  margin: 0 10%; }
  .mobile__wrapper .subscribe .subscribe__email {
    padding: 10%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2vw; }
  .mobile__wrapper .subscribe .company {
    border-right: 1px solid #e7e7e7;
    padding: 2%; }
    .mobile__wrapper .subscribe .company .col-xs-6 {
      padding-left: 3%;
      padding-right: 3%; }
    .mobile__wrapper .subscribe .company .row {
      margin: 6% 10%; }
    .mobile__wrapper .subscribe .company img {
      width: 100%; }
.mobile__wrapper #email {
  border-radius: 120px 0px 0px 120px;
  -moz-border-radius: 120px 0px 0px 120px;
  -webkit-border-radius: 120px 0px 0px 120px;
  border: 0px solid #000000;
  background-color: #e1e1e1;
  font-size: 1vw; }
.mobile__wrapper .btn-subscribe {
  border-radius: 0px 120px 120px 0px;
  -moz-border-radius: 0px 120px 120px 0px;
  -webkit-border-radius: 0px 120px 120px 0px;
  border: 0px solid #000000;
  background-color: #f16d7f;
  color: white;
  font-size: 1vw;
  height: 2.5vw;
  padding: 5% 10%;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out; }
  .mobile__wrapper .btn-subscribe:hover {
    background-color: #b84f5d; }
.mobile__wrapper .form-control {
  height: 2.5vw;
  padding: 5% 10%; }
.mobile__wrapper .input-group-btn {
  width: auto; }
.mobile__wrapper .feedback__container {
  background: url(../img/subscribe/background.png) no-repeat;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  height: 30vw;
  width: 100%;
  position: relative; }
  .mobile__wrapper .feedback__container .feedback__container-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.4;
    -moz-opacity: 0.4;
    filter: alpha(opacity=40) white;
    -khtml-opacity: 0.4;
    background-color: #fff; }
  .mobile__wrapper .feedback__container .feedback__container-content {
    text-align: center;
    padding: 5%; }
    .mobile__wrapper .feedback__container .feedback__container-content img {
      width: 5vw;
      margin-bottom: 2vw; }
    .mobile__wrapper .feedback__container .feedback__container-content p {
      font-size: 1vw;
      margin-bottom: 1vw; }
      .mobile__wrapper .feedback__container .feedback__container-content p .author {
        font-size: 0.8vw; }
    .mobile__wrapper .feedback__container .feedback__container-content img.feedback-nav {
      width: 2vw;
      margin: 0 0.2vw; }
.mobile__wrapper .footer {
  color: #898989;
  line-height: 1.5vw; }
  .mobile__wrapper .footer ul {
    margin-bottom: 1vw; }
  .mobile__wrapper .footer h1 {
    margin: 0 0 1vw 0;
    font-size: 1.5vw; }
    .mobile__wrapper .footer h1 a {
      margin-top: 0;
      color: #3e3e40;
      text-decoration: none;
      vertical-align: bottom; }
      .mobile__wrapper .footer h1 a img {
        height: 2vw;
        margin-right: 0.2vw; }
      .mobile__wrapper .footer h1 a b span {
        vertical-align: bottom; }
  .mobile__wrapper .footer p {
    font-size: 0.7vw;
    margin-bottom: 0.7vw; }
  .mobile__wrapper .footer h4 {
    font-size: 1vw;
    margin: 0; }
  .mobile__wrapper .footer li a {
    text-decoration: none;
    font-weight: normal;
    color: #898989;
    font-size: 0.8vw;
    line-height: 2vw; }
.mobile__wrapper .brand__info {
  margin: 5% 10% 5% 10%; }
  .mobile__wrapper .brand__info .col-xs-7 {
    padding: 0; }
.mobile__wrapper .social {
  margin: 0;
  background-color: #e6e6e6;
  width: 100%; }
.mobile__wrapper .social__content {
  vertical-align: middle;
  margin: 3% 5% 0 5%; }
  .mobile__wrapper .social__content p {
    color: #7a7a7a;
    font-size: 1vw;
    margin: 3% 0; }
  .mobile__wrapper .social__content img {
    margin: 3% 0 3% 1%;
    height: 2vw; }

/*# sourceMappingURL=mobile.css.map */
