@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  background: white;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #222222; }

ul {
  list-style: none; }

a {
  color: #f16d7f; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.fs11 {
  font-size: 11px; }

.fs12 {
  font-size: 12px; }

.fs13 {
  font-size: 13px; }

.fs14 {
  font-size: 14px; }

.fs15 {
  font-size: 15px; }

.fs16 {
  font-size: 16px; }

.fs17 {
  font-size: 17px; }

.fs18, .footer h4 {
  font-size: 18px; }

.fs19 {
  font-size: 19px; }

.fs20 {
  font-size: 20px; }

.fs21 {
  font-size: 21px; }

.fs22 {
  font-size: 22px; }

.fs23 {
  font-size: 23px; }

.fs24 {
  font-size: 24px; }

.fs25 {
  font-size: 25px; }

.fs26 {
  font-size: 26px; }

.fs27 {
  font-size: 27px; }

.fs28 {
  font-size: 28px; }

.fs29 {
  font-size: 29px; }

.fs30 {
  font-size: 30px; }

.fs31 {
  font-size: 31px; }

.fs32 {
  font-size: 32px; }

.fs33 {
  font-size: 33px; }

.fs34 {
  font-size: 34px; }

.fs35 {
  font-size: 35px; }

.fs36 {
  font-size: 36px; }

.fs37 {
  font-size: 37px; }

.fs38 {
  font-size: 38px; }

.fs39 {
  font-size: 39px; }

.fs40 {
  font-size: 40px; }

.w60 {
  width: 60px; }

.w70 {
  width: 70px; }

.w80 {
  width: 80px; }

.w90 {
  width: 90px; }

.w100 {
  width: 100px; }

.w110 {
  width: 110px; }

.w120 {
  width: 120px; }

.w130 {
  width: 130px; }

.w140 {
  width: 140px; }

.w150 {
  width: 150px; }

.w160 {
  width: 160px; }

.w170 {
  width: 170px; }

.w180 {
  width: 180px; }

.w190 {
  width: 190px; }

.w200 {
  width: 200px; }

.w210 {
  width: 210px; }

.w220 {
  width: 220px; }

.w230 {
  width: 230px; }

.w240 {
  width: 240px; }

.w250 {
  width: 250px; }

.w260 {
  width: 260px; }

.w270 {
  width: 270px; }

.w280 {
  width: 280px; }

.w290 {
  width: 290px; }

.w300 {
  width: 300px; }

.w310 {
  width: 310px; }

.w320 {
  width: 320px; }

.w330 {
  width: 330px; }

.w340 {
  width: 340px; }

.w350 {
  width: 350px; }

.w360 {
  width: 360px; }

.w370 {
  width: 370px; }

.w380 {
  width: 380px; }

.w390 {
  width: 390px; }

.form-control {
  height: initial; }

.form-control:focus {
  border-color: #f16d7f;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(241, 109, 127, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(241, 109, 127, 0.6); }

.header__content {
  margin: 0 14%; }
  .header__content h1 {
    float: left; }
    .header__content h1 a {
      text-decoration: none;
      color: #222222; }
      .header__content h1 a > img {
        margin: 0 5px 10px 0; }
  .header__content div.input-group {
    float: left;
    margin: 30px 0; }
  .header__content div.btn-group {
    margin: 30px 0 0 10px; }

nav {
  border-top: 1px solid #ececec;
  height: 50px;
  border-bottom: 1px solid #ececec;
  background-color: white; }
  nav li {
    display: inline; }

.dropdown-menu .divider {
  margin: 5px 10px; }
.dropdown-menu li.group {
  margin-left: 12px;
  font-weight: 600; }

.fleft {
  float: left; }

.fright {
  float: right; }

.main-color {
  color: #f16d7f; }

.gray-color {
  color: #a4a4a4; }

.gray {
  color: #4d4d4d; }

.breadcrumb-gray {
  color: #636363; }

.light-gray {
  color: #c8c8c8; }

.uppercase, .menu-item > a, .footer h4 {
  text-transform: uppercase; }

.text-normal {
  text-transform: initial;
  font-weight: normal; }

.bold, .menu-item > a {
  font-weight: bold; }

.btn-main {
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  color: white;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out; }
  .btn-main:hover {
    color: #fff;
    background-color: #e0485d; }
  .btn-main:focus {
    color: #fff; }

.dropdown-cart {
  min-width: 15vw; }
  .dropdown-cart .row {
    padding: 5px;
    margin-right: 0;
    margin-left: 0; }
    .dropdown-cart .row .col-md-4, .dropdown-cart .row .col-xs-4 {
      text-align: center;
      padding-left: 0;
      padding-right: 0; }
      .dropdown-cart .row .col-md-4 img, .dropdown-cart .row .col-xs-4 img {
        width: 100%; }
      .dropdown-cart .row .col-md-4 p, .dropdown-cart .row .col-xs-4 p {
        font-size: 10px;
        margin-top: 5px;
        margin-bottom: 5px; }
      .dropdown-cart .row .col-md-4 a, .dropdown-cart .row .col-xs-4 a {
        margin-top: 20%; }
    .dropdown-cart .row .col-md-4:last-of-type, .dropdown-cart .row .col-xs-4:last-of-type {
      padding-top: 15%; }
    .dropdown-cart .row .btn {
      width: 100%; }
    .dropdown-cart .row .btn-cart {
      border: 1px solid #c8c8c8;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
      color: #222222;
      -webkit-transition: background-color 0.2s ease-out;
      -moz-transition: background-color 0.2s ease-out;
      -o-transition: background-color 0.2s ease-out;
      transition: background-color 0.2s ease-out; }
      .dropdown-cart .row .btn-cart:hover {
        color: #fff;
        background-color: #e0485d; }
      .dropdown-cart .row .btn-cart:focus {
        color: #fff; }
    .dropdown-cart .row .btn-checkout {
      border: 1px solid #f16d7f;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
      color: #f16d7f;
      -webkit-transition: background-color 0.2s ease-out;
      -moz-transition: background-color 0.2s ease-out;
      -o-transition: background-color 0.2s ease-out;
      transition: background-color 0.2s ease-out; }
      .dropdown-cart .row .btn-checkout:hover {
        color: #fff;
        background-color: #e0485d; }
      .dropdown-cart .row .btn-checkout:focus {
        color: #fff; }

.nav__content {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.menu {
  height: 50px;
  position: relative;
  z-index: 2; }

.menu-item > a {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  padding-top: 12px; }

.menu-item {
  height: 100%;
  -webkit-transition: border-bottom 0.1s ease-out, color 0.2s ease-out;
  -moz-transition: border-bottom 0.1s ease-out, color 0.2s ease-out;
  -o-transition: border-bottom 0.1s ease-out, color 0.2s ease-out;
  transition: border-bottom 0.1s ease-out, color 0.2s ease-out; }

.menu-item:hover {
  border-bottom: 4px solid #f16d7f;
  color: #f16d7f; }

.breadcrumbs {
  height: 150px;
  background-color: #f8f3f4;
  padding: 0;
  margin-bottom: 60px; }

.breadcrumbs-content {
  min-height: 100%;
  display: flex;
  align-items: center;
  margin: 0 14%;
  justify-content: space-between; }

.radio {
  display: inline; }

.radio-label {
  margin-left: 1em; }
  .radio-label:last-of-type {
    margin-bottom: 30px; }

label.required:after {
  color: red;
  content: " *"; }

.subscribe {
  position: relative;
  background: url(../img/subscribe/background.png) no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%; }
  .subscribe .feedback__container-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.4;
    -moz-opacity: 0.4;
    filter: alpha(opacity=40) white;
    -khtml-opacity: 0.4;
    background-color: #fff; }
  .subscribe .row {
    margin: 0 14%;
    height: 100%;
    position: relative;
    padding: 40px 0; }

.subscribe__email {
  position: relative;
  text-align: center;
  height: 100%;
  margin-top: 45px; }

.subscribe__slider {
  padding: 0;
  height: 100%; }
  .subscribe__slider .row .col-md-3 img {
    width: 100%; }

#email {
  border-radius: 20px 0px 0px 20px;
  -moz-border-radius: 20px 0px 0px 20px;
  -webkit-border-radius: 20px 0px 0px 20px;
  border: 0px solid #000000;
  background-color: #e1e1e1; }

.btn-subscribe {
  border-radius: 0px 20px 20px 0px;
  -moz-border-radius: 0px 20px 20px 0px;
  -webkit-border-radius: 0px 20px 20px 0px;
  border: 0px solid #000000;
  background-color: #f16d7f;
  color: white;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out; }
  .btn-subscribe:hover {
    background-color: #b84f5d;
    color: white; }

.footer {
  color: #898989;
  line-height: 1.6; }
  .footer h1 {
    margin-top: 0; }
    .footer h1 a {
      margin-top: 0;
      color: #222;
      text-decoration: none; }
  .footer li a {
    text-decoration: none;
    font-weight: normal;
    color: #898989;
    font-size: 16px;
    line-height: 2; }

.brand__info {
  margin: 100px 14% 30px 14%; }

.social {
  margin: 0;
  background-color: #e6e6e6;
  width: 100%; }

.social__content {
  height: 80px;
  vertical-align: middle;
  margin: 100px 14% 0px 14%; }
  .social__content p {
    color: #7a7a7a;
    font-size: 16px;
    margin: 25px 0; }
  .social__content img {
    margin: 25px 0 25px 10px; }

.logo-mobile {
  display: none; }

.header__content .col-md-4 {
  text-align: right; }

@media (min-width: 1101px) and (max-width: 1300px) {
  .header__content {
    margin: 0 3%; }

  .menu-item > a {
    font-size: 12px; }
    .menu-item > a h1 {
      font-size: 18px;
      margin-top: 30px; }
      .menu-item > a h1 a > img {
        margin: 0 5px 10px 0;
        height: 35px; }

  .breadcrumbs-content {
    font-size: 0.8em; }
    .breadcrumbs-content span.fs24 {
      font-size: 18px; }

  .social__content {
    margin: 0 3%; }

  .breadcrumbs-content {
    margin: 0 3%; } }
.subscribe__email .input-group {
  width: 50%; }

@media (min-width: 951px) and (max-width: 1100px) {
  .header__content {
    margin: 0 3%; }
    .header__content .col-xs-2, .header__content .col-xs-8 {
      padding: 0; }
    .header__content .col-xs-8 {
      font-size: 10px; } }
@media (max-width: 950px) {
  .header__content {
    margin: 0 3%; }

  h1.logo {
    display: none; }

  h1.logo-mobile {
    display: block; }
    h1.logo-mobile a img {
      width: 100%;
      margin-bottom: 0; }

  .menu {
    font-size: 1.5vw; }

  .menu-item > a {
    padding-top: 18px; }

  .breadcrumbs-content {
    font-size: 1.5vw; }

  .subscribe__email .input-group {
    width: initial; }

  .subscribe__slider .col-xs-3 {
    padding-right: 5px;
    padding-left: 0; }

  .subscribe .row {
    margin: 0 5%; }

  .social__content {
    margin-left: 5%;
    margin-right: 5%; }
    .social__content p {
      font-size: 2vw;
      margin: 35px 0; }
    .social__content img {
      width: 7vw; }

  .header__content div.btn-group {
    margin: 0; }

  .header__content .col-sm-6 {
    text-align: center; }

  .btn-row {
    margin: 0; }
    .btn-row .btn-cart {
      padding: 5px;
      font-size: 12px; }

  .row.table-responsive {
    margin: 0 0 10px 0; } }
.advantage-row {
  background-color: #222224;
  margin-top: 50px;
  color: #fbfbfb;
  padding: 85px 0; }

.advantage-row > .row {
  margin: 0 14%;
  text-align: center; }

.advantage-img {
  height: 40px; }

.products-wrapper {
  color: #6f6e6e; }

.products-wrapper > .row {
  margin: 0 14%; }

.collapse-container {
  margin-bottom: 10px; }

.search-collapse {
  border-left: 5px solid #ef5b70;
  padding: 5px 10px;
  border-bottom: 1px solid #ebebeb;
  font-size: 14px; }

.search-collapse > a {
  text-decoration: none;
  color: #6f6e6e;
  display: block; }

a.clicked {
  color: #ef5b70; }

a.collapsed {
  color: #6f6e6e; }

a.clicked:after {
  float: right;
  font-family: "Glyphicons Halflings";
  content: "";
  font-size: 14px;
  color: #ef5b70; }

a.collapsed:after {
  float: right;
  font-family: "Glyphicons Halflings";
  content: "";
  color: #6f6e6e; }

.subcategory a {
  color: #6f6e6e;
  text-decoration: none;
  display: block;
  margin: 10px;
  padding: 5px; }

.subcategory a:hover {
  background-color: #f8f3f4; }

.search-header {
  font-size: 14px;
  color: #6f6e6e; }

.trending {
  display: inline;
  margin-bottom: 10px;
  line-height: 2; }

.trending:after {
  content: "	|	"; }

.trending:last-child:after {
  content: ""; }

.trending a {
  color: #6f6e6e;
  text-decoration: none; }

.trending a:hover {
  color: #ef5b70; }

.checkbox-label {
  margin-right: 15px; }

#min-price {
  float: left; }

#max-price {
  float: right; }

/*Checkbox */
/* Base for label styling */
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: absolute;
  left: -9999px; }

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer; }

/* checkbox */
[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 0px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); }

/* checked */
[type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
  content: "✓";
  position: absolute;
  top: 0.1em;
  left: 0.1em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #f16d7f;
  transition: all 0.2s; }

/* checked  changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0; }

[type="checkbox"]:checked + label:after {
  opacity: 1; }

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before, [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd; }

[type="checkbox"]:disabled:checked + label:after {
  color: #999; }

[type="checkbox"]:disabled + label {
  color: #aaa; }

/* accessibility */
[type="checkbox"]:checked:focus + label:before, [type="checkbox"]:not(:checked):focus + label:before {
  border: 1px solid #f16d7f; }

/*checkbox end */
.search-row {
  margin-bottom: 40px; }

.filter {
  background-color: #f3f3f3;
  padding: 10px;
  margin-bottom: 50px;
  margin: 0 -25px 50px -25px; }

.filter .col-md-3 {
  padding-left: 0; }

.filter .input-group-addon {
  background-color: #fff;
  border-radius: 0px; }

.filter .input-group .form-control {
  border-radius: 0px; }

.featured__item {
  padding-right: 5px;
  padding-left: 5px;
  display: inline-block;
  margin-bottom: 10px; }
  .featured__item .featured__image .fade {
    position: absolute;
    left: 1%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    text-align: center;
    transition: visibility 0s, opacity 0.2s linear;
    -moz-transition: visibility 0s, opacity 0.2s linear;
    -webkit-transition: visibility 0s, opacity 0.2s linear;
    opacity: 0;
    visibility: hidden; }
    .featured__item .featured__image .fade a.btn {
      padding: 1% 2%;
      text-decoration: none;
      color: white;
      border: 1px solid white;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
      margin: 50% 0;
      font-size: 1.5vw; }
      .featured__item .featured__image .fade a.btn img {
        height: 1.5vw;
        width: 1.5vw; }
  .featured__item:hover > .featured__image > .fade {
    visibility: visible;
    opacity: 0.6;
    left: 0; }

.featured__image {
  width: 100%;
  display: inline-block;
  position: relative; }
  .featured__image img {
    width: 100%; }

.featured__info {
  text-align: left;
  padding: 10px 0 10px 10%;
  font-weight: bold;
  text-transform: uppercase; }

.featured__item:hover {
  -webkit-box-shadow: 0px 14px 15px -2px #aaaaaa;
  -moz-box-shadow: 0px 14px 15px -2px #aaaaaa;
  box-shadow: 0px 14px 15px -2px #aaaaaa; }

.product-container > .row {
  margin-bottom: 10px; }

li a.not-active {
  pointer-events: none;
  cursor: default;
  color: #6f6e6e; }

.pagination > li > a {
  border: none;
  color: #6f6e6e; }

.pagination {
  border: 1px solid #ebebeb;
  border-radius: 2px; }

.pagination > .active > a {
  background-color: white;
  color: #f16d7f; }

.pagination > li > a:hover {
  color: #f16d7f; }

.pagination > .active > a:focus, .pagination > .active > a:hover {
  color: white;
  background-color: #f16d7f; }

.summary .product-button {
  float: right;
  margin: 20px 0;
  color: #f16d7f;
  border: 1px solid #f16d7f;
  border-radius: 2px;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out; }

.summary .product-button:hover {
  color: #fff;
  background-color: #f16d7f; }

/*input range begin */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 4.5px 0; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 8.6px 8.6px 8.8px transparent, 0px 0px 8.6px rgba(13, 13, 13, 0);
  background: #f7b4bd;
  border-radius: 25px;
  border: 0px solid #004896; }

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1.8px rgba(0, 0, 0, 0.3), 0px 0px 0.9px rgba(13, 13, 13, 0.3);
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #f16d7f;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.5px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f7b4bd; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 8.6px 8.6px 8.8px transparent, 0px 0px 8.6px rgba(13, 13, 13, 0);
  background: #f7b4bd;
  border-radius: 25px;
  border: 0px solid #004896; }

input[type=range]::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1.8px rgba(0, 0, 0, 0.3), 0px 0px 0.9px rgba(13, 13, 13, 0.3);
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #f16d7f;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #f7b4bd;
  border: 0px solid #004896;
  border-radius: 50px;
  box-shadow: 8.6px 8.6px 8.8px transparent, 0px 0px 8.6px rgba(13, 13, 13, 0); }

input[type=range]::-ms-fill-upper {
  background: #f7b4bd;
  border: 0px solid #004896;
  border-radius: 50px;
  box-shadow: 8.6px 8.6px 8.8px transparent, 0px 0px 8.6px rgba(13, 13, 13, 0); }

input[type=range]::-ms-thumb {
  box-shadow: 0.9px 0.9px 1.8px rgba(0, 0, 0, 0.3), 0px 0px 0.9px rgba(13, 13, 13, 0.3);
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #f16d7f;
  cursor: pointer;
  height: 6px; }

input[type=range]:focus::-ms-fill-lower {
  background: #f7b4bd; }

input[type=range]:focus::-ms-fill-upper {
  background: #f7b4bd; }

/*input range end */
@media (max-width: 1250px) {
  .products-wrapper > .row {
    margin: 0 5%; } }

/*# sourceMappingURL=product.css.map */
