@import 'variables'
=rubber-container()
	margin: 0 14%

=border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius: $radius
	-ms-border-radius: $radius
	border-radius: $radius

@for $i from 11 through 40 
	.fs#{$i}
		font-size:  #{$i}px

$i: 60
@while $i < 400 
	.w#{$i}
		width: #{$i}px
	$i: $i + 10


.form-control
	height: initial
.form-control:focus 
	border-color: $main-color
	outline: 0
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(241,109,127,.6)
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(241,109,127,.6)


.header__content
	+rubber-container
	h1
		float: left
		a
			text-decoration: none
			color: $text-main-color
			&>img
				margin: 0 5px 10px 0

	div.input-group
		float: left
		margin: 30px 0
	div.btn-group
		margin: 30px 0 0 10px

nav 
	border-top: 1px solid #ececec
	height: 50px
	border-bottom: 1px solid #ececec
	background-color: $bg-color
	li
		display: inline

.dropdown-menu
	.divider
		margin: 5px 10px
	li.group
		margin-left: 12px
		font-weight: 600

.fleft 
	float: left

.fright
	float: right

.main-color 
	color: $main-color

.gray-color
	color: $gray-color
.gray
	color: $gray

.breadcrumb-gray
	color: $breadcrumb-gray

.light-gray
	color: $light-gray


.uppercase
	text-transform: uppercase

.text-normal
	text-transform: initial
	font-weight: normal

.bold
	font-weight: bold

.btn-main
	background-color: $main-color
	border: 1px solid $main-color
	+border-radius(0)
	color: $bg-color
	-webkit-transition: background-color 0.2s ease-out
	-moz-transition: background-color 0.2s ease-out
	-o-transition: background-color 0.2s ease-out
	transition: background-color 0.2s ease-out
	&:hover
		color: #fff
		background-color: #e0485d
	&:focus
		color: #fff


.dropdown-cart
	min-width: 15vw
	.row 
		padding: 5px
		margin-right: 0
		margin-left: 0
		.col-md-4, .col-xs-4
			text-align: center
			padding-left: 0
			padding-right: 0
			img
				width: 100%
			p
				font-size: 10px
				margin-top: 5px
				margin-bottom: 5px
			a
				margin-top: 20%
		.col-md-4:last-of-type, .col-xs-4:last-of-type
			padding-top: 15%
		.btn
			width: 100%
		.btn-cart
			//background-color: $main-color
			border: 1px solid $light-gray
			+border-radius(0)
			color: $text-main-color
			-webkit-transition: background-color 0.2s ease-out
			-moz-transition: background-color 0.2s ease-out
			-o-transition: background-color 0.2s ease-out
			transition: background-color 0.2s ease-out
			&:hover
				color: #fff
				background-color: #e0485d
			&:focus
				color: #fff
		.btn-checkout
			border: 1px solid $main-color
			+border-radius(0)
			color: $main-color
			-webkit-transition: background-color 0.2s ease-out
			-moz-transition: background-color 0.2s ease-out
			-o-transition: background-color 0.2s ease-out
			transition: background-color 0.2s ease-out
			&:hover
				color: #fff
				background-color: #e0485d
			&:focus
				color: #fff

.nav__content
	height: 100%
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
	-webkit-flex-direction: row
	-ms-flex-direction: row
	flex-direction: row
	-webkit-flex-wrap: nowrap
	-ms-flex-wrap: nowrap
	flex-wrap: nowrap
	-webkit-justify-content: space-between
	-ms-flex-pack: justify
	justify-content: space-between
	-webkit-align-content: stretch
	-ms-flex-line-pack: stretch
	align-content: stretch
	-webkit-align-items: flex-start
	-ms-flex-align: start
	align-items: flex-start

.menu
	height: 50px
	position: relative
	z-index: 2


.menu-item>a
	@extend .uppercase, .bold
	text-decoration: none
	color: inherit
	display: block
	height: 100%
	padding-top: 12px

.menu-item
	height: 100%
	-webkit-transition: border-bottom 0.1s ease-out, color 0.2s ease-out
	-moz-transition: border-bottom 0.1s ease-out, color 0.2s ease-out
	-o-transition: border-bottom 0.1s ease-out, color 0.2s ease-out
	transition: border-bottom 0.1s ease-out, color 0.2s ease-out
.menu-item:hover
	border-bottom: 4px solid $main-color
	color: $main-color

.breadcrumbs
	height: 150px
	background-color: #f8f3f4
	padding: 0
	margin-bottom: 60px

.breadcrumbs-content
	min-height: 100%  
	display: flex
	align-items: center
	+rubber-container
	justify-content: space-between

.radio
	display: inline
.radio-label
	margin-left: 1em
	&:last-of-type
		margin-bottom: 30px

label.required:after
	color: red
	content: ' *'


.subscribe
	position: relative
	background: url(../img/subscribe/background.png) no-repeat
	-moz-background-size: cover 
	-webkit-background-size: cover 
	-o-background-size: cover 
	background-size: cover 
	// height: 437px
	width: 100%
	.feedback__container-overlay
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		opacity: 0.4
		-moz-opacity: 0.4
		filter: alpha(opacity=40) white
		-khtml-opacity: 0.4
		background-color: #fff
	.row
		+rubber-container
		// margin-bottom: 30px
		height: 100%
		position: relative
		padding: 40px 0

.subscribe__email
	position: relative
	text-align: center
	height: 100%
	margin-top: 45px


	
	// position: absolute
	// text-align: center
	// left: 50%
	// height: 100%

	// margin-top: 130px

.subscribe__slider
	padding: 0
	height: 100%
	// display: flex
	// align-items: center
	// justify-content: space-between
	.row
		.col-md-3
			img
				width: 100%
		// display: flex
		// align-items: center
		// justify-content: space-between

#email
	border-radius: 20px 0px 0px 20px
	-moz-border-radius: 20px 0px 0px 20px
	-webkit-border-radius: 20px 0px 0px 20px
	border: 0px solid #000000
	background-color: #e1e1e1

.btn-subscribe
	border-radius: 0px 20px 20px 0px
	-moz-border-radius: 0px 20px 20px 0px
	-webkit-border-radius: 0px 20px 20px 0px
	border: 0px solid #000000
	background-color: $main-color
	color: white
	-webkit-transition: background-color 0.2s ease-out
	-moz-transition: background-color 0.2s ease-out
	-o-transition: background-color 0.2s ease-out
	transition: background-color 0.2s ease-out
	&:hover
		background-color: #b84f5d
		color: white

.footer
	color: #898989
	line-height: 1.6
	h1
		margin-top: 0
		a
			margin-top: 0
			color: #222
			text-decoration: none
	h4
		@extend .fs18, .uppercase
	li
		a
			text-decoration: none
			font-weight: normal
			color: #898989
			font-size: 16px
			line-height: 2

.brand__info
	margin: 100px 14% 30px 14%

.social 
	margin: 0
	background-color: #e6e6e6
	width: 100%

.social__content
	height: 80px
	vertical-align: middle
	margin: 100px 14% 0px 14%
	p
		color: #7a7a7a
		font-size: 16px
		margin: 25px 0
	img
		margin: 25px 0 25px 10px


.logo-mobile
	display: none

.header__content
	.col-md-4
		text-align: right


@media (min-width: 1101px) and (max-width: 1300px)
	.header__content
		margin: 0 3%
	.menu-item > a
		font-size: 12px
		.header__content
		// height: 100px
		h1
			font-size: 18px
			margin-top: 30px
			a
				&>img
					margin: 0 5px 10px 0
					height: 35px
	.breadcrumbs-content
		font-size: 0.8em
		span.fs24
			font-size: 18px
	.social__content
		margin: 0 3%
	.breadcrumbs-content
		margin: 0 3%

.subscribe__email
	.input-group
		width: 50%

@media (min-width: 951px) and (max-width: 1100px)
	.header__content
		margin: 0 3%
		.col-xs-2, .col-xs-8
			padding: 0
		.col-xs-8
			font-size: 10px
	

@media (max-width: 950px)
	.header__content
		margin: 0 3%
	h1.logo
		display: none
	h1.logo-mobile
		display: block
		a
			img
				width: 100%
				margin-bottom: 0
	.menu
		font-size: 1.5vw

	.menu-item > a
		padding-top: 18px
	.breadcrumbs-content
		font-size: 1.5vw

	.subscribe__email
		.input-group
			width: initial

	.subscribe__slider
		.col-xs-3
			padding-right: 5px
			padding-left: 0
	.subscribe
		.row
			margin: 0 5%
	.social__content
		margin-left: 5%
		margin-right: 5%
		p
			font-size: 2vw
			margin: 35px 0
		img
			width: 7vw

	.header__content
		div.btn-group 
			margin: 0
	.header__content
		.col-sm-6
			text-align: center
	.btn-row
		margin: 0
		.btn-cart
			padding: 5px
			font-size: 12px
	.row.table-responsive
		margin: 0 0 10px 0