@import 'variables'
*
	margin: 0
	padding: 0

body
	background: $bg-color
	font-family: $font
	font-size: 14px
	color: $text-main-color

ul 
	list-style: none
a
	color: $main-color

.clearfix::after 
	content: ""
	display: table
	clear: both