@import 'reset'
@import 'common'

.cart-content
	+rubber-container
	margin-bottom: 100px

.table
	thead
		tr
			th
				@extend .uppercase, .fs13
				border-bottom: 1px solid #ddd
				text-align: center
				&:first-child
					text-align: left
	tbody
		tr
			&:last-child
				border-bottom: 1px solid #ddd
			td
				@extend .fs13
				color: #656565
				padding: 25px 0
				vertical-align: middle
				text-align: center
				input
					text-align: center
					outline: none
				&:first-child
					width: 45%
					text-align: left
	.col-md-3
		img
			width: 100%



.cart-value
	margin-left: 1em

.remove-link
	color: $gray
	&:hover
		color: $main-color
	&:focus
		color: $main-color


.table-responsive
	margin-bottom: 25px

.btn-row
	margin-bottom: 40px

.btn-cart
	background-color: $bg-color
	padding: 15px
	border: 1px solid #eaeaea
	-webkit-transition: background-color 0.2s ease-out
	-moz-transition: background-color 0.2s ease-out
	-o-transition: background-color 0.2s ease-out
	transition: background-color 0.2s ease-out
	+border-radius(0)
	color: $text-main-color
	&:hover
		background-color: $main-color
		color: #fff
	&:focus
		background-color: $main-color
		color: #fff



.summary
	.col-md-4:first-child
		padding-left: 0
	.col-md-4
		margin-bottom: 15px
	.form-control
		outline: none
		+border-radius(0)
		margin-bottom: 15px
	.btn-cart
		padding: 7px
		font-size: 11px
	.total
		background-color: #f5f3f3
		padding: 40px
		hr
			color: #e2e2e2
		p
			display: inline-block
			span
				margin-left: 1em
		.btn-main
			padding: 13px
			height: initial

@media (min-width: 951px) and (max-width: 1250px)
	.cart-content
		margin: 0 5%
	.summary
		.col-md-4:first-child
			padding-left: 15px


@media (max-width: 950px)
	td>.row
		margin-right: 0
		margin-left: 0
		&>.col-xs-3
			padding-left: 0
			padding-right: 0
	.cart-content
		margin: 0 5%
	.summary
		.col-md-4:first-child
			padding-left: 15px