@import 'reset'
@import 'common'

.checkout__container
	+rubber-container
	margin-bottom: 80px
	
	.row
		margin: 0
		.collapse-container
			h4
				a
					text-decoration: none
					color: $text-main-color
					-webkit-transition: color 0.2s ease-out
					-moz-transition: color 0.2s ease-out
					-o-transition: color 0.2s ease-out
					transition: color 0.2s ease-out
					&:hover
						color: $main-color
			p.before:before
				content: url('../img/checkout/before.png')
				margin-right: 5px
			p.before:last-of-type
				margin-bottom: 30px
			.col-md-6
				// margin-left: 20px
				margin-top: 20px
				.form-control
					+border-radius(0)
					height: 45px
					margin-bottom: 15px
				.btn-row
					margin-bottom: 50px


.btn-checkout
	background-color: $bg-color
	padding: 15px
	border: 1px solid #eaeaea
	+border-radius(0)
	color: $text-main-color
	-webkit-transition: background-color 0.5s ease-out, color 0.2s ease-out
	-moz-transition: background-color 0.5s ease-out, color 0.2s ease-out
	-o-transition: background-color 0.5s ease-out, color 0.2s ease-out
	transition: background-color 0.5s ease-out, color 0.2s ease-out

	&:hover
		background-color: $main-color
		color: #fff
	&:focus
		background-color: $main-color
		color: #fff
.btn-checkout+a
	line-height: 3.5
	margin-left: 10px
	text-decoration: none
	color: $text-main-color


@media (max-width: 1250px)
	.checkout__container
		margin: 0 5%


// Test with transform
// #cart-img
// 	width: 32px
// 	margin-top: 0
// 	-webkit-transition: width 0.5s, -webkit-transform 0.5s, margin-top 0.5s
// 	-moz-transition: width 0.5s, transform 0.5s, margin-top 0.5s
// 	-o-transition: width 0.5s, transform 0.5s, margin-top 0.5s
// 	transition: width 0.5s, transform 0.5s, margin-top 0.5s
// 	&:hover
// 		width: 40px
// 		margin-top: -10px
// 		-ms-transform: rotate(360deg)
// 		-webkit-transform: rotate(360deg)
// 		transform: rotate(360deg)