@import 'reset'
.wrapper
	@import 'common'
	.slider
		position: relative
		margin-top: -50px
		height: 650px
		width: 100%
		background: url(../img/slider/Slide1.png) no-repeat #e8e8e8 90% 0%
		z-index: 1

	.slider__text
		margin: 0 14% 0 14%
		border-left: 12px solid #f16d7f
		z-index: 3
		font-size: 40px
		padding: 0 0 0 12px
		display: inline-block
		vertical-align: middle
		position: absolute
		top: 250px
		text-transform: uppercase
		font-weight: bold

	.slider__text__big
		font-size: 60px

	.slider__text span
		line-height: 1.1

	.category
		margin: 100px 14% 0 14%

	.category__item
		max-width: 49%
		min-width: 49%
		margin-bottom: 2%
		float: left
		display: inline
		position: relative 


	.category__item:nth-child(1)
		margin-right: 2%


	.category__men
		/*content: url(../img/category/men.png)*/


	.category__women
		/*content: url(../img/category/women.png)*/
		float: right

	.category__kids
		/*content: url(../img/category/kids.png)*/
		float: right

	.category__accesories
		/*content: url(../img/category/accesories.png)*/


	.category__item img
		position: relative 
		width: 100% /* for IE 6 */

	.category__label
		color: initial
		padding: 10px
		text-transform: uppercase
		font-size: 18px
		position: absolute 
		top: 40px 
		left: 0 
		background-color: #fff
		font-weight: bold

	.category__label__supper
		font-size: 30px


	.featured
		margin-top: 40px
		text-align: center

	.featured h2
		font-size: 30px
		font-weight: bold

	.featured>p
		color: #9f9f9f

	.featured__content
		margin-top: 50px


	.featured__content .row
		margin: 0 14% 30px 14%

	.featured__item
		padding-right: 3px
		padding-left: 3px
		display: inline-block
		.featured__image
			width: 100%
			.fade
				position: absolute
				left: 1%
				right: 0
				top: 0
				bottom: 0
				background-color: #000
				text-align: center
				transition: visibility 0s, opacity 0.2s linear
				-moz-transition: visibility 0s, opacity 0.2s linear
				-webkit-transition: visibility 0s, opacity 0.2s linear
				opacity: 0
				visibility: hidden
				a.btn
					padding: 1% 2%
					text-decoration: none
					color: white
					border: 1px solid white
					+border-radius(0)
					margin: 50% 0
					font-size: 1.5vw
					img
						height: 1.5vw
						width: 1.5vw
		&:hover > .featured__image > .fade
			visibility: visible
			opacity: 0.6
			left: 0

	


	.featured__image
		display: inline-block
		position: relative
		img
			width: 100%
		

	.featured__info
		text-align: initial
		padding: 10px 0 10px 20px
		font-weight: bold
		text-transform: uppercase

	.featured__item:hover
		-webkit-box-shadow: 0px 14px 15px -2px rgba(170,170,170,1)
		-moz-box-shadow: 0px 14px 15px -2px rgba(170,170,170,1)
		box-shadow: 0px 14px 15px -2px rgba(170,170,170,1)


	.advantages
		margin: 100px 14% 30px 14%
		.col-md-4
			margin-top: 10px

	.advantages img
		position: relative 
		width: 100% /* for IE 6 */

	.advantages__label
		color: initial
		padding: 10px
		text-transform: uppercase
		font-size: 18px
		position: absolute 
		top: 28% 
		left: 3% 
		color: #fff
		font-weight: bold
		font-size: 52px
		line-height: 0.8em


	.advantages__label__supper
		font-size: 32px


	.advantages>.row>.col-md-8
		padding-left: 0
		padding-right: 0


	.advantages>.row
		background-color: #222224

	.advantages__info
		color: white
		padding: 15px

	.advantages__info h4
		font-size: 20px

	.advantages__image
		padding: 15px
		height: 100%

	.advantages__image img
		margin: 15px

.mobile__wrapper
	display: none



@media (min-width: 1101px) and (max-width: 1300px)
	.wrapper
		.advantages__info 
			p
				font-size: 12px
			h4
				font-size: 16px
		.slider__text
			font-size: 26px
		.slider__text__big
			font-size: 30px


@media (max-width: 1100px) 
	.wrapper
		display: none
	
	.mobile__wrapper
		display: block
	
