@import 'variables'


=rubber-container()
	margin: 0 10%

=border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius: $radius
	-ms-border-radius: $radius
	border-radius: $radius

@for $i from 11 through 40 
	.fs#{$i}
		font-size:  #{$i}px

$i: 60
@while $i < 400 
	.w#{$i}
		width: #{$i}px
	$i: $i + 10


*
	margin: 0
	padding: 0

body
	background: $bg-color
	font-family: $font
	font-size: 14px
	color: $text-main-color
	overflow-x: hidden

ul 
	list-style: none



.mobile__wrapper

	.row
		margin: 0

	.col-xs-4
		padding-right: 1%
		padding-left: 1%

	.clearfix::after 
		content: ""
		display: table
		clear: both


	.form-control:focus 
		border-color: $main-color
		outline: 0
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(241,109,127,.6)
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(241,109,127,.6)

	.fleft 
		float: left

	.fright
		float: right

	.main-color 
		color: $main-color

	.gray-color
		color: $gray-color
	.gray
		color: $gray

	.breadcrumb-gray
		color: $breadcrumb-gray

	.light-gray
		color: $light-gray


	.uppercase
		text-transform: uppercase

	.text-normal
		text-transform: initial
		font-weight: normal

	.bold
		font-weight: bold

		
	.btn-main
		background-color: white
		font-size: 1.5vw
		padding: 1%
		border: 1px solid $main-color
		+border-radius(0)
		color: $main-color
		-webkit-transition: background-color 0.2s ease-out, color 0.1s
		-moz-transition: background-color 0.2s ease-out, color 0.1s
		-o-transition: background-color 0.2s ease-out, color 0.1s
		transition: background-color 0.2s ease-out, color 0.1s
		&:hover, &:focus
			color: #fff
			background-color: $main-color


	.container-fluid
		padding: 0

	.header__content
		line-height: 0
		position: relative
		z-index: 2
		img
			height: 6vh

	.content
		position: relative
		margin-top: -6vh
		z-index: 1

	.slider
		position: relative
		margin-bottom: 5%
		img
			width: 100%
		.col-xs-6
			padding: 0
			&:last-of-type
				background-color: #f1e4e6
				margin-top: -6vh
				position: absolute
				left: 50%
				right: 0
				top: 0
				bottom: 0
		.slider-text
			border-left: 1vw solid #f16d7f
			z-index: 3
			font-size: 2vw
			padding: 0 0 0 1vw
			margin-left: 10%
			display: inline-block
			vertical-align: middle
			position: relative
			text-transform: uppercase
			font-weight: bold
			margin-top: 50%
	.slider-text-big
		font-size: 4vw

	.category__container
		margin-bottom: 5%
		.row
			margin: 0 10% 2% 10%
		img
			width: 100%
		.col-xs-4
			padding-right: 1%
			padding-left: 1%
			.fade
				margin-left: 2%
				margin-right: 3%
		.col-xs-12
			padding-right: 1%
			padding-left: 1%
			.fade
				margin-left: 0
				margin-right: 1%
				.category-text
					margin: 5% 0


	.img-container
		position: relative
	.fade
		position: absolute
		left: 1%
		right: 0
		top: 0
		bottom: 0
		opacity: 0.6
		-moz-opacity: 0.6
		filter: alpha(opacity=60) black
		-khtml-opacity: 0.6
		background-color: #000
		text-align: center
		.main-color
			font-size: 2vw
		.category-text
			color: white
			margin: 25% 0
			display: inline-block
			font-size: 1vw
		img
			width: 40%


	.featured__container
		margin-bottom: 5%
		.main-color
			color: $main-color
		text-align: center
		h2
			font-size: 2vw
		p
			font-size: 1vw
			color: #9f9f9f
			margin-bottom: 2%




	.featured__container-items
		+rubber-container
		margin-bottom: 3%

	.featured-item
		margin-bottom: 3%
		-webkit-transition: -webkit-box-shadow 0.2s ease-out
		-moz-transition: -moz-box-shadow 0.2s ease-out
		-o-transition: -o-box-shadow 0.2s ease-out
		transition: box-shadow 0.2s ease-out
		&:hover
			-webkit-box-shadow: 0px 14px 15px -2px rgba(170,170,170,1)
			-moz-box-shadow: 0px 14px 15px -2px rgba(170,170,170,1)
			box-shadow: 0px 14px 15px -2px rgba(170,170,170,1)
		&:hover>.featured-info
			background-color: #FFF
		&:hover>.featured-image>.fade
			// display: block
			visibility: visible
			opacity: 0.6
			left: 0
		.featured-image
			position: relative
			.fade
				transition: visibility 0s, opacity 0.2s linear
				-moz-transition: visibility 0s, opacity 0.2s linear
				-webkit-transition: visibility 0s, opacity 0.2s linear
				opacity: 0
				visibility: hidden
				a.btn
					padding: 1% 2%
					text-decoration: none
					color: white
					border: 1px solid white
					+border-radius(0)
					margin: 50% 0
					font-size: 1.5vw
					img
						height: 1.5vw
						width: 1.5vw
			img
				width: 100%
		.featured-info
			text-align: left
			padding: 2%
			background-color: #f8f8f8
			h6
				font-size: 1vw
				margin: 2% 0
	.advantage
		background-color: #222224
		padding: 0 10%
		.col-xs-4
			text-align: center
			padding: 3vw
			color: #fbfbfb
			h4
				font-size: 1.5vw
				margin: 3%
			p
				font-size: 1vw
				margin-bottom: 1%
			img
				width: 3vw


	.subscribe
		+rubber-container
		.subscribe__email
			padding: 10%
			position: relative
			text-align: center
			vertical-align: middle
			font-size: 1.2vw
			
		.company
			border-right: 1px solid #e7e7e7
			padding: 2%
			.col-xs-6
				padding-left: 3%
				padding-right: 3%

			.row
				margin: 6% 10%
			img
				width: 100%
	
	#email
		border-radius: 120px 0px 0px 120px
		-moz-border-radius: 120px 0px 0px 120px
		-webkit-border-radius: 120px 0px 0px 120px
		border: 0px solid #000000
		background-color: #e1e1e1
		font-size: 1vw

	.btn-subscribe
		border-radius: 0px 120px 120px 0px
		-moz-border-radius: 0px 120px 120px 0px
		-webkit-border-radius: 0px 120px 120px 0px
		border: 0px solid #000000
		background-color: $main-color
		color: white
		font-size: 1vw
		height: 2.5vw
		padding: 5% 10%
		-webkit-transition: background-color 0.2s ease-out
		-moz-transition: background-color 0.2s ease-out
		-o-transition: background-color 0.2s ease-out
		transition: background-color 0.2s ease-out
		&:hover
			background-color: #b84f5d
	.form-control
		height: 2.5vw
		padding: 5% 10%
	.input-group-btn
		width: auto

	.feedback__container
		background: url(../img/subscribe/background.png) no-repeat
		-moz-background-size: 100% 
		-webkit-background-size: 100% 
		-o-background-size: 100% 
		background-size: 100% 
		height: 30vw
		width: 100%
		position: relative
		.feedback__container-overlay
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			opacity: 0.4
			-moz-opacity: 0.4
			filter: alpha(opacity=40) white
			-khtml-opacity: 0.4
			background-color: #fff
		.feedback__container-content
			text-align: center
			padding: 5%
			img
				width: 5vw
				margin-bottom: 2vw
			p
				font-size: 1vw
				margin-bottom: 1vw
				.author
					font-size: 0.8vw
			img.feedback-nav
				width: 2vw
				margin: 0 0.2vw

	.footer
		color: #898989
		line-height: 1.5vw
		ul
			margin-bottom: 1vw
		h1
			margin: 0 0 1vw 0
			font-size: 1.5vw
			a
				margin-top: 0
				color: #3e3e40
				text-decoration: none
				vertical-align: bottom
				img
					height: 2vw
					margin-right: 0.2vw
				b
					span
						vertical-align: bottom
		p
			font-size: 0.7vw
			margin-bottom: 0.7vw
		h4
			font-size: 1vw
			margin: 0
		li
			a
				text-decoration: none
				font-weight: normal
				color: #898989
				font-size: 0.8vw
				line-height: 2vw

	.brand__info
		margin: 5% 10% 5% 10%
		.col-xs-7
			padding: 0

	.social 
		margin: 0
		background-color: #e6e6e6
		width: 100%

	.social__content
		vertical-align: middle
		margin: 3% 5% 0 5%
		p
			color: #7a7a7a
			font-size: 1vw
			margin: 3% 0
		img
			margin: 3% 0 3% 1%
			height: 2vw