@import 'reset'
@import 'common'

.advantage-row
	background-color: #222224
	margin-top: 50px
	color: #fbfbfb
	padding: 85px 0

.advantage-row>.row
	margin: 0 14%
	text-align: center

.advantage-img
	height: 40px


.products-wrapper
	color: #6f6e6e


.products-wrapper>.row
	margin: 0 14%


.collapse-container
	margin-bottom: 10px

.search-collapse
	border-left: 5px solid #ef5b70
	padding: 5px 10px
	border-bottom: 1px solid #ebebeb
	font-size: 14px


.search-collapse>a
	text-decoration: none
	color: #6f6e6e
	display: block


a.clicked
	color: #ef5b70

a.collapsed
	color: #6f6e6e



a.clicked:after
	float: right
	font-family: 'Glyphicons Halflings'
	content: "\e113"
	font-size: 14px
	color: #ef5b70

a.collapsed:after
	float: right
	font-family: 'Glyphicons Halflings'
	content: "\e114"
	color: #6f6e6e

.subcategory a
	color: #6f6e6e
	text-decoration: none
	display: block
	margin: 10px
	padding: 5px

.subcategory a:hover
	background-color: #f8f3f4

.search-header
	font-size: 14px
	color: #6f6e6e

.trending
	display: inline
	margin-bottom: 10px
	line-height: 2

.trending:after
	content: "	|	"

.trending:last-child:after
	content: ""


.trending a
	color: #6f6e6e
	text-decoration: none

.trending a:hover
	color: #ef5b70


.checkbox-label
	margin-right: 15px


#min-price
	float: left

#max-price
	float: right


/*Checkbox*/

/* Base for label styling */
[type="checkbox"]:not(:checked), [type="checkbox"]:checked 
	position: absolute
	left: -9999px

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label 
	position: relative
	padding-left: 1.95em
	cursor: pointer


/* checkbox */
[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before 
	content: ''
	position: absolute
	left: 0
	top: 0
	width: 1.25em
	height: 1.25em
	border: 1px solid #ccc
	background: #fff
	border-radius: 0px
	box-shadow: inset 0 1px 3px rgba(0,0,0,.1)

/* checked */
[type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after 
	content: '\2713'
	position: absolute
	top: .1em
	left: .1em
	font-size: 1.3em
	line-height: 0.8
	color: #f16d7f
	transition: all .2s

/* checked  changes */
[type="checkbox"]:not(:checked) + label:after 
	opacity: 0

[type="checkbox"]:checked + label:after 
	opacity: 1

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before, [type="checkbox"]:disabled:checked + label:before 
	box-shadow: none
	border-color: #bbb
	background-color: #ddd

[type="checkbox"]:disabled:checked + label:after 
	color: #999

[type="checkbox"]:disabled + label 
	color: #aaa

/* accessibility */
[type="checkbox"]:checked:focus + label:before, [type="checkbox"]:not(:checked):focus + label:before 
	border: 1px solid #f16d7f



/*checkbox end*/

.search-row
	margin-bottom: 40px

.filter
	background-color: #f3f3f3
	padding: 10px
	margin-bottom: 50px
	margin: 0 -25px 50px -25px

.filter .col-md-3
	padding-left: 0


.filter .input-group-addon
	background-color: #fff
	border-radius: 0px

.filter .input-group .form-control
	border-radius: 0px


.featured__item
	padding-right: 5px
	padding-left: 5px
	display: inline-block
	margin-bottom: 10px
	.featured__image
		.fade
			position: absolute
			left: 1%
			right: 0
			top: 0
			bottom: 0
			background-color: #000
			text-align: center
			transition: visibility 0s, opacity 0.2s linear
			-moz-transition: visibility 0s, opacity 0.2s linear
			-webkit-transition: visibility 0s, opacity 0.2s linear
			opacity: 0
			visibility: hidden
			a.btn
				padding: 1% 2%
				text-decoration: none
				color: white
				border: 1px solid white
				+border-radius(0)
				margin: 50% 0
				font-size: 1.5vw
				img
					height: 1.5vw
					width: 1.5vw
	&:hover > .featured__image > .fade
		visibility: visible
		opacity: 0.6
		left: 0

.featured__image
	width: 100%
	display: inline-block
	position: relative
	img
		width: 100%



.featured__info
	text-align: left
	padding: 10px 0 10px 10%
	font-weight: bold
	text-transform: uppercase

.featured__item:hover
	-webkit-box-shadow: 0px 14px 15px -2px rgba(170,170,170,1)
	-moz-box-shadow: 0px 14px 15px -2px rgba(170,170,170,1)
	box-shadow: 0px 14px 15px -2px rgba(170,170,170,1)



.product-container>.row
	margin-bottom: 10px


li a.not-active 
	pointer-events: none
	cursor: default
	color: #6f6e6e

.pagination>li>a
	border: none
	color: #6f6e6e

.pagination
	border: 1px solid #ebebeb
	border-radius: 2px

.pagination>.active>a
	background-color: white
	color: #f16d7f


.pagination>li>a:hover
	color: #f16d7f


.pagination>.active>a:focus, .pagination>.active>a:hover
	color: white
	background-color: #f16d7f


.summary .product-button
	float: right
	margin: 20px 0
	color: #f16d7f
	border: 1px solid #f16d7f
	border-radius: 2px
	-webkit-transition: background-color 0.2s ease-out
	-moz-transition: background-color 0.2s ease-out
	-o-transition: background-color 0.2s ease-out
	transition: background-color 0.2s ease-out


.summary .product-button:hover	
	color: #fff
	background-color: #f16d7f


/*input range begin*/

input[type=range] 
	-webkit-appearance: none
	width: 100%
	margin: 4.5px 0

input[type=range]:focus 
	outline: none

input[type=range]::-webkit-slider-runnable-track 
	width: 100%
	height: 6px
	cursor: pointer
	box-shadow: 8.6px 8.6px 8.8px rgba(0, 0, 0, 0), 0px 0px 8.6px rgba(13, 13, 13, 0)
	background: #f7b4bd
	border-radius: 25px
	border: 0px solid #004896

input[type=range]::-webkit-slider-thumb 
	box-shadow: 0.9px 0.9px 1.8px rgba(0, 0, 0, 0.3), 0px 0px 0.9px rgba(13, 13, 13, 0.3)
	border: 0px solid #000000
	height: 15px
	width: 15px
	border-radius: 50px
	background: #f16d7f
	cursor: pointer
	-webkit-appearance: none
	margin-top: -4.5px

input[type=range]:focus::-webkit-slider-runnable-track 
	background: #f7b4bd

input[type=range]::-moz-range-track 
	width: 100%
	height: 6px
	cursor: pointer
	box-shadow: 8.6px 8.6px 8.8px rgba(0, 0, 0, 0), 0px 0px 8.6px rgba(13, 13, 13, 0)
	background: #f7b4bd
	border-radius: 25px
	border: 0px solid #004896

input[type=range]::-moz-range-thumb 
	box-shadow: 0.9px 0.9px 1.8px rgba(0, 0, 0, 0.3), 0px 0px 0.9px rgba(13, 13, 13, 0.3)
	border: 0px solid #000000
	height: 15px
	width: 15px
	border-radius: 50px
	background: #f16d7f
	cursor: pointer

input[type=range]::-ms-track 
	width: 100%
	height: 6px
	cursor: pointer
	background: transparent
	border-color: transparent
	color: transparent

input[type=range]::-ms-fill-lower 
	background: #f7b4bd
	border: 0px solid #004896
	border-radius: 50px
	box-shadow: 8.6px 8.6px 8.8px rgba(0, 0, 0, 0), 0px 0px 8.6px rgba(13, 13, 13, 0)

input[type=range]::-ms-fill-upper 
	background: #f7b4bd
	border: 0px solid #004896
	border-radius: 50px
	box-shadow: 8.6px 8.6px 8.8px rgba(0, 0, 0, 0), 0px 0px 8.6px rgba(13, 13, 13, 0)

input[type=range]::-ms-thumb 
	box-shadow: 0.9px 0.9px 1.8px rgba(0, 0, 0, 0.3), 0px 0px 0.9px rgba(13, 13, 13, 0.3)
	border: 0px solid #000000
	height: 15px
	width: 15px
	border-radius: 50px
	background: #f16d7f
	cursor: pointer
	height: 6px

input[type=range]:focus::-ms-fill-lower 
	background: #f7b4bd

input[type=range]:focus::-ms-fill-upper 
	background: #f7b4bd

/*input range end*/


@media (max-width: 1250px)
	.products-wrapper>.row
		margin: 0 5%