@import 'reset'
@import 'common'


.breadcrumbs
	margin-bottom: 0

.slider
	/*position: relative*/
	/*margin-top: -50px*/
	border-top: 1px solid #ececec
	height: 780px
	width: 100%
	background: url(../img/single/slider/1.png) no-repeat #f7f7f7 50% 0%
	z-index: 0
	display: flex
	align-items: center
	justify-content: space-between

.slider__arrow-left
	width: 47px
	height: 47px
	background: url(../img/single/slider/Arrow.png) #d8d8d8

.slider__arrow-right
	width: 47px
	height: 47px
	background: url(../img/single/slider/Arrow.png) #d8d8d8
	-webkit-transform: rotate(180deg)
	-moz-transform: rotate(180deg)
	-ms-transform: rotate(180deg)
	-o-transform: rotate(180deg)
	transform: rotate(180deg)

.product-description
	margin: -90px 14% 0 14%
	text-align: center
	z-index: 1
	background-color: white
	padding-top: 70px
	border: 1px solid #eaeaea


.product-description h5
	margin-bottom: 70px

.product-description-text 
	color: #5e5e5e
	width: 640px
	display: inline-block

.product-properties
	display: flex
	align-items: center
	justify-content: space-between
	margin: 15px 35%

.product-price
	margin-bottom: 45px

.product-purchase
	margin: 45px 20% 0 20%

.product-purchase .form-control
	border-radius: initial
	width: 145px
	border: 1px solid #eaeaea
	/*color: #bcbcbc*/

#size
	margin: 0 45px

.cart-btn
	margin-top: 30px
	background-color: white
	border: 1px solid #ef5b70
	color: #ef5b70
	border-radius: initial
	font-weight: bold
	font-size: 18px
	height: 55px
	width: 535px
	margin-bottom: 135px
	-webkit-transition: background-color 0.2s ease-out
	-moz-transition: background-color 0.2s ease-out
	-o-transition: background-color 0.2s ease-out
	transition: background-color 0.2s ease-out
	&:hover
		background-color: #fae9eb
		color: #ef5b70
	&:focus
		background-color: #fae9eb
		color: #ef5b70

.cart-btn img
	padding-right: 1em

.like
	margin-top: 120px
	text-align: center

.featured__content .row
	margin: 70px 14% 30px 14%

.featured__item
	padding-right: 5px
	padding-left: 5px
	display: inline-block
	margin-bottom: 10px
	.featured__image
		.fade
			position: absolute
			left: 1%
			right: 0
			top: 0
			bottom: 0
			background-color: #000
			text-align: center
			transition: visibility 0s, opacity 0.2s linear
			-moz-transition: visibility 0s, opacity 0.2s linear
			-webkit-transition: visibility 0s, opacity 0.2s linear
			opacity: 0
			visibility: hidden
			a.btn
				padding: 1% 2%
				text-decoration: none
				color: white
				border: 1px solid white
				+border-radius(0)
				margin: 50% 0
				font-size: 1.5vw
				img
					height: 1.5vw
					width: 1.5vw
	&:hover > .featured__image > .fade
		visibility: visible
		opacity: 0.6
		left: 0

.featured__image
	width: 100%
	display: inline-block
	position: relative
	img
		width: 100%

.featured__info
	text-align: initial
	padding: 10px 0 10px 10px
	font-weight: bold
	text-transform: uppercase

.featured__item:hover
	-webkit-box-shadow: 0px 14px 15px -2px rgba(170,170,170,1)
	-moz-box-shadow: 0px 14px 15px -2px rgba(170,170,170,1)
	box-shadow: 0px 14px 15px -2px rgba(170,170,170,1)


@media (max-width: 1250px)
	.cart-btn, .product-description-text
		width: 90%
	.product-description>img:last-of-type
		width: 80%
	#size
		margin: 0
	.product-description
		margin: -90px 5% 0 5%
	.featured__content .row
		margin: 70px 5% 30px 5%
	.product-purchase .form-control
		width: 100%
